click==7.1.2
cloudinary==1.25.0
DateTime==4.3
dnspython==2.1.0
Flask==1.1.2
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
pymongo==3.11.3
pytz==2021.1
Werkzeug==1.0.1
zope.interface==5.3.0
PyMongo==3.11.3
