# My Favourite Recipes Test Evidence
## Unit and Functional Testing

####    Navigation
####    Footer
####    Home Page
####    About Page
####    Getting Started Page
####    Recipes Page
####    Register Page
####    Log-in Page
####    Log-out
####    Display Recipes Page
####    Add Recipe Page
####    Edit Recipe Page
####    Add Category Page
####    Edit Category Page


## Lighthouse Testing

## User Story Testing

