@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka:wght@400;500;600;700&family=Lato&family=Roboto+Condensed&display=swap');

/* Added a root for colours */
:root {
    --main-brown: #4e342e;
    /* --main-brown: #fffde7; */
    /* --head-foot: #d3cfc1; */
    --head-foot: #00796b;
    --main-cream: #fffde7;
    --main-yellow: #ffff8d;
    --main-red: #e53935;
    --main-green:#43a047;
    --main-shadow: rgba(109,76,65,0.5);
    --card-offwhite: rgba(250, 250, 250, 0.4);
    --image-shadow: rgba(249,168,37,0.5);
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--main-cream);
    font-family: 'Lato', sans-serif;
    color: var(--main-brown);
    overflow: auto; 
}
main {
    flex: 1 0 auto;
}
.container {
    min-height: 80;
}
h3 {
    font-family: 'Akaya Kanadaka', cursive;
}
h1, h2, h3, h4, h5, h6, p {
    color: var(--main-brown);
    text-align: center;
    vertical-align: middle;
}

.row {margin-bottom: 10px;} 
.flashes h4 {
    line-height: 1;
    z-index: 2;
}
.inline-block {
    display: inline-block;
}
hr {
    width: 80%;
}
/* ---  icons and button text --- */
.btn.amber.accent-2{
    color: var(--main-brown);
}

/* --- Navbar --- */
nav,
nav ul a {
    color: var(--main-cream);
    background-color: var(--head-foot);
}
.brand-logo {
    display: inline-block;
    height: 100%;  
}
.brand-logo>img {
    position: absolute;
    width: 4.5rem;
    height: auto;
    transform: translateY(3%);
    border-radius: 50%;
}

/*--- footer ---*/
.page-footer {
    background-color: var(--head-foot);
}
h5.footer {
    color: var(--main-cream);
}
.social-media {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 4.5%;
    margin-bottom: 0%;
}
#copy {
    padding-top: 1.5%;
    color: var(--main-cream);
}
li a i.fab {
    color: var(--main-cream);
}
li a {
   color: var(--main-cream); 
}

/*--- background image ---*/
.parallax-container { 
    overflow: auto;
    background-size: cover; 
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.7);
}

/* --- card format --- */
.card {
    border-radius: 25px;
}
.card .card-image img {
  border-radius: 25px 25px 0 0;
}
.card .card-title {
    font-weight: 500;
}
.card-content {
    height: 12rem;
}
/*--- Home Page ---*/
h3.home {  
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 60px;
}
.container.about {
    background-color: #b2dfdb;
    width: 100vw;
}

element.style {
  z-index: 0;
  opacity: 1;
  visibility: visible;
  transform: translateX(318.5px) translateY(100px) translateX(0px) translateX(0px) translateZ(0px);
}
.carousel .carousel-item {
    width: 300px;
    height: 300px;
}
img {
    border-radius: 5%;
} 

/*---  Recipes Page  ---*/
img.recipes-image{
    height: 12rem;
} 
.score {
    display: inline-block;
    font-size: 24px;
}
i.rating {
    font-size: 24px;
    margin: 3%; 
    display: inline-block;
    align-items: center;
}

/*---  Weights and Measures Page  ---*/
.weight_measure_tables {
    overflow: auto; 
}
.weight_measure_card{
    border: var(--main-brown);
    background-color: var(--main-cream);
}
td, th {
    padding: 3px;
}
/*--- Register ---*/
.card-panel {
    padding: 15px;
}
.input-field {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.register-btn {
    align-content: center;
}
p a {
    font-weight: bold;
}
p {
    font-size: larger;
}
/* --- Recipe Details --- */
.recipe-panel {
    margin-bottom: 20%;
}
.recipe_image {
    width: 300px;
    height: auto;
}
p.brown-text.text-darken-3 {
    margin: 0.5rem;
}
h5.brown-text.text-darken-3 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.recipe_headline {
    margin-top: 5%;
}
li.ingredient{
    margin: 0px;
    list-style: none;
    display: inline-block;
}
li.method {
    list-style: decimal;
}
/* --- Profile Page --- */
/* Original code for profile card by thefeldkircher - Copied and modified */
.profile-card{
  width: 350px;
  max-width: 100%;
  text-align: center;
  border-radius: 12px;  
  background: white;
  border: 1px solid #d4d4d4;
}
.profile-card section {
  background-image: url("../images/cake.jpg");
  background-size: cover;
  height: 175px;
  border-radius: 12px 12px 0 0;
  margin-bottom: 140px;
}
.profile-card section img {
  margin: 90px 40px 0px 40px;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 6px solid white;
}
.profile-card section p {
  color: #444;
  font-size: 18px;
  color: var(--main-brown);
  font-weight: 300;
  margin-top: 0;
}
.profile-card_body{
  margin-top: 60px;
}
/* ------------------------------------------------------------------ */
.norecipes {
    margin: 5rem 0 5rem 0;
}
.profile-recipe {
    font-size: 20px;
}
i.profile-rating {
    font-size: 18px;
}
.profile-recipes {
    margin: 3rem;
    border: 1px solid var(--main-brown);
    font-size: 22px;
}
table.striped>tbody>tr:nth-child(odd) {
    background-color: var(--image-shadow);
}
table.striped.profile-recipes tr {
    border-bottom: none;
    border-radius: 0 0 25px 25px;
}

.maint-btn {
    margin: 0 15px 0 15px;
}
/* --- Maintain Recipes --- */

.maintain-recipe {
    padding: 7%;
    align-content: center;
}
.recipe-row {
    padding: 0 2rem;
    margin: 0;
}
.recipe-row-imn{
    padding: 0 1.75rem;
    margin: 0;
}
input[type=text]:not(.browser-default).recipe, select {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-brown);
    width: 100%;
    padding: 0;
    border: 1px solid var(--main-shadow);
    border-radius: 4px;
    background-color: var(--card-offwhite);
    resize: vertical;
}
title {
    width: 100%;
    padding: 0;
}
.maintain-recipe label {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0 12px 0;
    display: inline-block; 
}
select {
    display: block;
}
#prep-time,
#cook-time {
    margin-bottom: 2rem;
}
/* --- Modals --- */
input.image-selection {
    border: 1px solid var(--main-brown);
    padding: .375rem .75rem;
    border-radius: .25rem;
    line-height: 1.5;
}
.upload-image {
    margin-top: 2rem;
}

@media (max-width: 992px){
    table.striped.responsive-table.profile-recipes {
        margin-left: 0;
        border-radius: 2.5%;
    }
    table.responsive-table th {
    display: none;
    }
    table.striped.profile-recipes tr {
    border-bottom: none;
    border-radius: 0;
    }
    .profile-recipes {
    margin: 0;
    /* border: 1px solid var(--main-brown); */
    font-size: 22px;
    border-radius: 2.5%;
    }
    /* a.waves-effect.waves-light.btn.modal-trigger.recipe-row {
        padding-left: 0;
        padding-right: 0;
        font-size: 12px;
    }  */
    .recipe-row,
    .recipe-row-imn {
        padding: 0;
    }
    .btn {
        margin: 1rem;
        padding: 0;
    }
}