@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka:wght@400;500;600;700&family=Lato&display=swap');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff8e1;
    font-family: 'Lato', sans-serif;
    color: #4e342e;
}
main {
    flex: 1 0 auto;
}
h3 {
    font-family: 'Akaya Kanadaka', cursive;
}
h6 {
    font-weight: bold;
}
.row {margin-bottom: 10px;}
.flashes h4 {
    line-height: 1;
    z-index: 2;
}
.inline-block {
    display: inline-block;
}
/*-- Navbar --*/
.brand-logo {
    display: inline-block;
    height: 100%;
}
.brand-logo>img {
    position: absolute;
    width: 4.5rem;
    height: auto;
    transform: translateY(3%);
}

/*--- footer ---*/

.page-footer {
    padding: 0;
    bottom: 0;
    width: 100vw;
    position: fixed;
}
.social-media {
    font-size: 25px;
    font-weight: bold;
    margin-top: 4.5%;
    margin-bottom: 0%;
}
#copy {
    padding-top: 1.5%;
}

/*--- background image ---*/
.parallax-container {
    background-size: cover; 
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.8);
}

/*--- Home Page ---*/
.home {
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

/*---  Recipes Page  ---*/
.card {
    box-shadow: 0 10px 10px 0 rgba(109,76,65,0.5);
}
.card-image {
    box-shadow: 0 10px 10px 0 rgba(249,168,37,0.5); 
}
.card .card-title {
    font-weight: 500;
}
.score-card {
    text-align: center;
    padding-top: 0%;
}
.score {
    padding-top: 5%;
    padding-left: 5%;
    margin: 3%;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    font-size: 20px;
    color: #000;
}
i.rating {
    font-size: 24px;
    margin: 3%; 
    display: inline-block;
    align-items: center;
   
}
/*---  Weights and Measures Page  ---*/
.weight_measure_tables {
    overflow: auto; 
}
.weight_measure_card{
    border: rgb(109,76,65);
    background-color: rgba(250, 250, 250, 0.4);
}
td, th {
    padding: 3px;
}
table.striped>tbody>tr:nth-child(odd) {
  background-color: rgb(249, 168, 37, 0.1);
}
/*--- Register ---*/
.card-panel {
    padding: 15px;
}
.input-field {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.register-btn {
    align-content: center;
}
p a {
    font-weight: bold;
}

/*--- recipe detail page ---*/
.recipe_image {
    width: 300px;
    height: auto;
}
p.brown-text.text-darken-3 {
    margin: 0.5rem;
}
h5.brown-text.text-darken-3 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.recipe_headline {
    margin-top: 5%;
}
li.ingredient{
    margin: 0px;
    list-style: none;
    display: inline-block;
}
li.method {
    list-style: decimal;
}
/* --- Profile Page --- */
.profile-recipe {
    font-size: 20px;
}
i.profile-rating {
    font-size: 18px;
}
