@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka:wght@400;500;600;700&family=Lato&display=swap');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff8e1;
    font-family: 'Lato', sans-serif;
}
main {
    flex: 1 0 auto;
}
h1 {
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
}
h6 {
    font-weight: bold;
}

/*-- Navbar --*/
.brand-logo {
    display: inline-block;
    height: 100%;
}
.brand-logo>img {
    position: absolute;
    width: 4.5rem;
    height: auto;
    transform: translateY(3%);
}

/*--- footer ---*/
.inline-block {
    display: inline-block;
}
.page-footer {
    padding-top: 0px;
}
.social-media {
    font-size: 25px;
    font-weight: bold;
    margin-top: 4.5%;
}
#copy {
    padding-top: 1.5%;
}

/*--- background image ---*/
.parallax-container {
    background-size: cover; 
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.8);

}

/*--- Home Page ---*/
.home {
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
/*---  Recipes Page  ---*/
.card {
    box-shadow: 0 10px 10px 0 rgba(109,76,65,0.5);
}
.card-image {
    box-shadow: 0 10px 10px 0 rgba(109,76,65,0.5);
}
.card .card-title {
    font-weight: 500;
}

/*---  Weights and Measures Page  ---*/
.weight_measure_tables {
    overflow: auto; 
}
.weight_measure_card{
    border: rgb(109,76,65);
    background-color: rgba(250, 250, 250, 0.4);
}
td, th {
    padding: 5px;
}

/*--- Media Queries ---*/
@media(max-width: 768px){
    h3 {
       padding:1.5% 0 1.5% 0;
    }
    
}

/* @media(min-width: 1024px){ 
    .parallax-container {   
        min-height: 100vh;
    }

} 

@media(min-width: 1040px){
    .parallax-container {   
        min-height: 80vh;

    }

/* } */

