<!-- Delete Account Modal Structure -->

<div class="modal" id="delete-account">
    <div class="modal-content">
        <div class="container delete-account">
        <h4 class="pink-text text-darken-4"> Delete {{ username }}'s Account</h4>
        <div class="modal-body  align-center">
            <h5 class="red-text text-darken-1">
                <i class="fas fa-exclamation-circle red-text text-darken-1"></i>
                Are you sure you want to delete your account?
            </h5>
            <br>
            <p class="text-grey text-lighten-2 ">
                <span class="font-weight-bold">Note:</span>
                Please note deleting your account will delete all your recipes.</p>
        </div>
        <form action="{{ url_for('delete_account', username=username) }}" method="POST">
            <div class="input-field col s8 offset-s2">
                <i class="login fas fa-user-lock prefix"></i>
                <input id="confirm_password_to_delete" name="confirm_password_to_delete" type="password" class="validate">
                <label for="confirm_password_to_delete" clasee="confirm_password_to_delete">Confirm password</label>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close teal lighten-4 btn-flat">Close<i class="fas fa-times left"></i></a>
                <button type="submit" class="btn red darken-1  align-center">Delete Account<i class="fas fa-trash-alt left"></i></button>
            </div>
        </form>
    </div>
    </div>
</div>