<!-- Upload an image Modal Structure -->

<div id="uploadRecipeImageModal" class="modal">
    <form action="{{ url_for('upload_recipe_image', recipe_id=recipe_id) }}" method="POST" enctype="multipart/form-data" class="center-align upload-image">
        <div class="modal-content">
            <h4>Upload Image</h4>
            <input type="file" name="recipe_image" class="image-selection center-align" />
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close teal lighten-4 btn-flat">Close</a>
            <button type="submit" class="btn pink darken-4">Upload</button>
        </div>
    </form>
</div>