{% extends "base.html" %}
{% block content %}
    

    <main class="parallax-container home">
        <div class="parallax "><img src="{{ url_for('static', filename='images/background.jpeg') }}" alt="background"></div>
        <!-- Flash messages code taken from Code Institute Flask Task Manager Project and altered to fit this website -->
        <section>
            <!-- flash messages  -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes">
                            <h4 class="pink-text text-darken-4">{{ message }}</h4>
                        </div>
                    {% endfor%}
                {% endif %}
            {% endwith %}
        </section>

        <div class="container">
            <h3>Add Category</h3>
            <!-- Code taken from Code Institute Flask Task Manager Project and altered to fit this website -->
            <div class="row card-panel category-panel grey lighten-5">
                <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
                    <!-- Category Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-folder-open prefix pink-text text-darken-4"></i>
                            <input id="category" name="category" minlength="3" maxlength="25" type="text" pattern="([^\s][A-z0-9À-ž&;,./()'\s]+)" class="validate" required>
                            <label for="category" class="category">Category Name</label>
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <button type="submit" class="btn pink darken-4">Add Category<i class="fas fa-plus-square right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
{% endblock %}