{% extends "base.html" %}
{% block content %}

<main class="parallax-container home">
    <div class="parallax "><img src="{{ url_for('static', filename='images/background.jpeg') }}"></div>
    <div class="container">
        <h3>Manage Categories</h3>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_category') }}" class="btn pink darken-4">Add Category<i
                        class="fas fa-plus-square right"></i></a>
            </div>
        </div>

        {% if categories%}
       
        <!-- Category Table --responsive-table-->
        <div class="card">
            <table class="highlight center-align responsive-table striped category-table">
                <thead>
                    <tr>
                        <!-- Category Name -->
                        <th>Category</th>
                        <h5 class="brown-text text-darken-3">My Categories</h5>
                        <th class="center-align" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody class="category-table">
                    {% for category in categories %}
                    <tr>
                        <!-- Category -->
                        <td class="category-table left-align">{{ category.category }}</td>
                        <!-- Change Category  -->
                        <td class="category-table">
                            <a href="{{ url_for('edit_category', category_id=category._id) }}"
                                class="btn green darken-3 text-center"><i class="fas fa-edit left"></i>Change</a>
                        </td>
                        <!-- Change Category  -->
                        <td class="category-table">
                            <a href="{{ url_for('delete_category', category_id=category._id) }}"
                                class="btn red darken-1 text-center"><i class="fas fa-trash-alt left"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="norecipes">
                <!-- <h5 class="brown-text text-darken-3">My Categoruies</h5> -->
                <!-- Display messages when user has no recipes -->
                <div class="norecipes-card">
                    <h5>You have not created any categories.</h5>
                    <h5>To add your first category, please click the add category button above.</h5>
                </div>
            </div>
            </div>

            {% endif %}

    </div>
</main>

{% endblock %}