{% extends "base.html" %}
{% block content %}

<h3 class="brown-text text-darken-3 center-left">Manage Categories</h3>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m3">
                <div class="card white center-align">
                    <div class="card-content brown-text text-darken-3">
                        <span class="card-title">{{ category.category }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn green darken-3">Edit</a>
                        <a href="#" class="btn red darken-1">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
