{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}

    <!-- A page to enable the user to contact me -->
    <main class="home parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='images/background.jpeg') }}" alt="background"></div>
        <div class="container">
            <!-- Code taken from Code Institute Flask Task Manager Project and altered to fit this website-->
            <section>
                <!-- flash messages  -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row flashes">
                                <h4 class="pink-text text-darken-4">{{ message }}</h4>
                            </div>
                        {% endfor%}
                    {% endif %}
                {% endwith %}
            </section>
            <h3>Contact Form</h3>
            <div class="row">
                <form id="contact" class="col s12 m8 offset-m2" onsubmit="return sendMail(this)" method="POST" action="{{ url_for('contact') }}">
                    <div class="card-panel brown-text text-darken-3"> 
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" name="name" type="text" class="validate" required>
                                <label for="name" class="name"><i class="login fas fa-user"></i>Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="icon_telephone" type="tel" name="telephone" class="validate">
                                <label for="icon_telephone"><i class="login fas fa-phone"></i>Telephone</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" type="email" name="email" class="validate">
                                <label for="email"><i class="login fas fa-envelope"></i>Email</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="enquiry" name="enquiry" class="materialize-textarea"></textarea>
                                <label for="enquiry"><i class="login fas fa-file-alt"></i>Description</label>
                            </div>
                            <div class="col s12">
                                <button type="submit" class="col s12 btn pink darken-4">Send Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}

{% block scripts %}
    <!-- Email Script through EmailJS -->
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
{% endblock %}
