{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="../static/images/background.jpeg"></div>


        <!--<div class="opaque-overlay">&nbsp;</div>-->
   
            <h1 class="brown-text text-darken-3">My Favourite Recipes</h1>

            <h3 class="brown-text text-darken-3">Let's Bake</h3>
       
            <h3 class="brown-text text-darken-3">What's for tea?</h3>
     
            <h3 class="brown-text text-darken-3">Having fun in the kitchen</h3>
     
    </div>
</main>

{% endblock %}