{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}

<main class="parallax-container">
    <div class="parallax "><img src="../static/images/background.jpeg"></div>

    <div class="container ">
        <h3 class="home">My Favourite Cakes and Bakes</h3>
        <div class="carousel">
            {% for recipe in recipes %}
            <a class="carousel-item" href="#"><img src="{{ recipe.image }}"></a>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}