{% extends "base.html" %}
{% block title %}Maintain Recipe{% endblock %}
{% block content %}
<main class="parallax-container">
    <div class="parallax "><img src="../static/images/background.jpeg"></div>
    
        <form class="container maintain-recipe">
            <div class="row">
                <!-- Recipe Title -->
                <div class="col m5 s12">
                    <div class="col s4">
                        <label class="brown-text text-darken-3" for="title">Title</label>
                    </div>
                    <div class="col s8">
                        <input type="text" id="title" name="title" value="{{ recipe.title }}"> 
                    </div>
                </div>
                <!-- Category -->
                <div class="col m5 s12">
                    <div class="col s4">
                        <label class="brown-text text-darken-3" for="category">Category</label>
                    </div>
                    <div class="col s8">
                        <select id="category" name="category" value="{{ recipe.category }}">
                            <option value="cat1">Tea Time Treats</option>
                            <option value="cat2">Fun with the Kids</option>
                        </select>
                    </div>
                </div>
                <!-- Image -->
                <div class="col m2 s12">
                    <img class="recipe_image" src="{{ recipe.image }}" alt="{{ recipe.title }}">
                </div>
            </div>

            <div class="row">
                <!-- Important Information about Recipe -->
                <div class="col m8 s12 recipe_headline">
                    <div class="col m2 s4">
                        <h6 class="brown-text text-darken-3">Servings</h6>
                        <h6 class="brown-text text-darken-3">Duration</h6>
                    </div>
                    <div class="col m4 s8">
                        <p class="brown-text text-darken-3">{{ recipe.servings }}</p>
                        <p class="brown-text text-darken-3">{{ recipe.prep_time }} mins Prep</p>
                        <p class="brown-text text-darken-3">{{ recipe.cook_time }} mins Cook</p>
                    </div>
                    <div class="col m2 s4">
                        <h6 class="brown-text text-darken-3">Cooking Temperature</h6>
                        <h6 class="brown-text text-darken-3">Notes</h6>
                        <p class="brown-text text-darken-3">{{ recipe.note }}</p>
                    </div>
                    <div class="col m4 s8">
                        <p class="brown-text text-darken-3">{{ recipe.temperature }}</p>
                    </div>
                </div>


            </div>
            <!-- Ingredients -->
            <div class="row">
                <div class="col m4 s12">
                    <h6 class="brown-text text-darken-3">Ingredients</h6>
                    {% for ingredient in ingredient_list.ingredients %}
                    {% for item in ingredient %}
                    <li class="ingredient inline_block">{{ item }}</li>
                    {% endfor %}
                    <br>
                    {% endfor %}
                </div>
                <!-- Method -->
                <div class="col m4 s12">
                    <h6 class="brown-text text-darken-3">Method</h6>
                    {% for step in method_list.method %}
                    {% if step != "" %}
                    <li class="method brown-text text-darken-3"> {{ step.capitalize() }} </li>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    </form>


</main>

{% endblock %}