{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}

    <main class="parallax-container">
        <div class="parallax "><img src="../static/images/scales.jpeg"></div>
        <h3>
            {{ username }}'s Profile
        </h3>
        <!-- Flash messages code taken from Code Institute Flask Task Manager 
                        Project and altered to fit this website -->
        <section>
            <!-- flash messages  -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes">
                            <h4 class="yellow-text text-lighten-5 teal darken-2">{{ message }}</h4>
                        </div>
                    {% endfor%}
                {% endif %}
            {% endwith %}
        </section>
        <div class="container">
            <div class="row center-align ">
                <div class="col s12 l6 ">
                    <div class="card-panel ">
                        <h5><i class="fas fa-user-cog mr-1"></i> My Details</h5>
                        <!-- User Name -->
                        <div class="row">
                            <div class="col s12 ">
                                <p>Username:<span class=" profile-username"> {{ username }}</span></p>
                            </div>
                        </div>
                        <!-- Change Password -->
                        <div class="row">
                            <div class="col s12">
                                <a href="#edit-password" class="btn green darken-3 center-align">
                                    <i class="fas fa-lock"></i> Change Password</a>
                            </div>
                        </div>
                        <!-- Delete Account -->
                        <div class="row">
                            <!-- Code copied and modified from Double Shamrock Hackathorn entry. Delete Profile was written by Irina Pozdeeva -->
                            <div class="col s12">
                                <!-- Modal Trigger to Delete Account-->
                                <a class="red darken-1 btn modal-trigger " href="#delete-account"><i
                                        class="fas fa-trash-alt"></i> Delete Account</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col l6 s12 ">
                    <!-- Recipes Added by User -->
                    <div class="card ">
                        <table class="striped responsive-table centered ">
                            <thead>
                                <h5 class="brown-text text-darken-3 center-align">My Recipes</h5>
                            </thead>
                            <tbody>
                                {% for recipe in recipes %}
                                    <tr>
                                        <!-- Recipe Name -->
                                        <td><a class="brown-text text-darken-3 profile-recipe"
                                                href="{{ url_for('recipe_detail', recipe_id= recipe._id) }}">{{ recipe.title }}</a>
                                        </td>
                                        <!-- Number of likes -->
                                        <td><i class="profile-rating fas fa-thumbs-up"></i><span
                                                class="score">{{ recipe.likes }}</span>
                                        </td>
                                        <!-- Number of dislikes -->
                                        <td><i class="profile-rating fas fa-thumbs-down"></i><span
                                                class="score">{{ recipe.dislikes }}</span>
                                        </td>
                                        <!-- Change recipe  -->
                                        <td>
                                            <a href="{{ url_for('edit_recipe', recipe_id= recipe._id) }}"
                                                class="btn green darken-3 text-center"> Change</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Category and Recipe Maintenance -->
            <div class="col s12 center-align new-recipe">
                <!-- Mantain Categories -->
                <a class="maint-btn btn yellow-text text-lighten-5 teal darken-2" href="{{ url_for('get_categories') }}">
                    <i class="fas fa-upload"></i> Maintain Categories</a>
                <!-- Add a Recipe -->
                <a class="maint-btn btn yellow-text text-lighten-5 teal darken-2"
                    href="{{ url_for('add_recipe', username=username, categories=categories) }}">
                    <i class="fas fa-upload"></i> Add A New Recipe</a>
            </div>
        </div>
    </main>

    <!-- Delete Account Modal Structure -->
    <div class="modal" id="delete-account">
        <div class="modal-content">
            <h4 class="red-text text-darken-1"> Delete {{ username }}'s Account</h4>
            <div class="modal-body  align-center">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="red-text text-darken-1">
                    <i class="fas fa-exclamation-circle red-text text-darken-1"></i>
                    Are you sure you want to delete your account?
                </p>
                <p class="text-grey text-lighten-2 ">
                    <span class="font-weight-bold">Note:</span>
                    Plese note deleting your account will delete all your recipes.</p>
            </div>
            <form action="{{ url_for('delete_account', username=username) }}" method="POST">
                <div class="">
                    <label for="confirm_password_to_delete">Confirm password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <input placeholder="Enter password" id="confirm_password_to_delete"
                            name="confirm_password_to_delete" type="password" class="validate form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close btn green darken-3 align-center">Cancel</a>
                    <a href="{{ url_for('delete_account', username = session.username) }}" method="POST"><button
                            type="submit" class="btn red darken-1 align-center">
                            Delete Account
                        </button></a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}