{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}

<main class="parallax-container">
    <div class="parallax "><img src="../static/images/background.jpeg"></div>
    <div class="container">
        <h3 class="brown-text text-darken-3 center-align">
            {{ username }}'s Profile
        </h3>
        <section>
            <!-- flash messages  -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="row flashes">
                <h4 class="yellow darken-3 text-center">{{ message }}</h4>
            </div>
            {% endfor%}
            {% endif %}
            {% endwith %}
        </section>
        <!-- <div class="container"> -->
        <div class="row">
            <div class="col s12 m5 offset-m1">
                <div class="card-panel">
                    <h5 class="brown-text text-darken-3 center-align">
                        My Details
                    </h5>
                    <div class="col s12 m8 offset-m2 l6 offset-l3">
                        <div class="card-panel grey lighten-5 z-depth-1">
                            <div class="row valign-wrapper">
                                <div class="col s2">
                                    <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                                    <!-- notice the "circle" class -->
                                </div>
                                <div class="col s10">
                                    <span class="black-text">
                                        This is a square image. .
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Username</p>
                        </div>
                        <div class="col s6">
                            <p>{{ username }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button class="waves-effect waves-light btn yellow darken-3 text-center">Change
                                Password</button>
                        </div>
                        <div class="col s6">
                            <button class="waves-effect waves-light btn red darken-1 text-center">Delete
                                Account</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l6 s12">
                    <div class="card ">
                        <table class="striped responsive-table centered ">
                            <thead>
                                <h5 class="brown-text text-darken-3 center-align">My Recipes</h5>
                            </thead>
                            <tbody>
                                {% for recipe in recipes %}
                                <tr>
                                    <td><a class="brown-text text-darken-3 profile-recipe"
                                            href="{{ url_for('maintain_recipe', recipe_id= recipe._id) }}">{{ recipe.title }}</a>
                                    </td>
                                    <td><i class="profile-rating fas fa-thumbs-up"></i><span
                                            class="score">{{ recipe.likes }}</span>
                                    </td>
                                    <td><i class="profile-rating fas fa-thumbs-down"></i><span
                                            class="score">{{ recipe.dislikes }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}