{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}

<!-- <main class="profile parallax-container">
    <div class="parallax "><img src="{{ url_for('static', filename='images/scales.jpeg') }}"></div> -->
<!-- <h3>
        {{ username }}'s Profile
    </h3> -->
<!-- Flash messages code taken from Code Institute Flask Task Manager 
                            Project and altered to fit this website -->
<section>
    <!-- flash messages  -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <h4 class="pink-text text-darken-4">{{ message }}</h4>
    </div>
    {% endfor%}
    {% endif %}
    {% endwith %}
</section>
<div class="profile container">
    <div class="row center-align ">
        <div class="col s12 m6">
            <!-- Code for profile card -->
            <div class="profile-card">
                <div class="row">
                    <section>
                        {% if image %}
                        <img src="{{ image }}" alt="">
                        <a class="pink darken-4 btn modal-trigger" href="#uploadProfileImageModal"><i
                                class="fas fa-edit"></i> Edit image</a>
                        {% else %}
                        <img src="../static/images/profile_image.jpg" alt="">
                        <a class="waves-effect waves-light btn modal-trigger" href="#uploadProfileImageModal"><i
                                class="fas fa-edit"></i> Upload an image</a>
                        {% endif %}
                        <p>Username:<span class=" profile-username"> {{ username }}</span></p>
                    </section>
                </div>
                <div class="profile-card_body">
                    <!-- Change Password-->
                    <div class="row">
                        <div class="col s12">
                            <a href="{{ url_for('change_password', username=session['user']) }}" class="btn green darken-3">
                                <i class="fas fa-lock"></i> Change Password</a>
                        </div>
                    </div>
                    <!-- Delete Account -->
                    <div class="row">
                        <div class="col s12">
                            <!-- Modal Trigger to Delete Account-->
                            <a class="red darken-1 btn modal-trigger " href="#delete-account"><i
                                    class="fas fa-trash-alt"></i> Delete Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 ">
            <!-- Display messages when user has no recipes -->
            {% if recipes.count() == 0 %}
            <div class="norecipes">
                <h5>You currently have no recipes.</h5>
                <h5>To add your first recipe, please click the add recipe button below.</h5>
            </div>
            {% else %}
            <!-- Recipes Added by User -->
            <table class="highlight responsive-table profile-recipes">
                <thead>
                    <h5 class="brown-text text-darken-3 center-align">My Recipes</h5>
                    <tr>
                        <!-- Recipe Name -->
                        <th>Recipe Name</th>
                        <th class="center-align">Action</th>
                    </tr>
                </thead>
                <tbody class="profile-recipes">
                    {% for recipe in recipes %}
                    <tr>
                        <!-- Recipe Name -->
                        <td><a class="brown-text text-darken-3 profile-recipe"
                                href="{{ url_for('recipe_detail', recipe_id= recipe._id) }}">{{ recipe.title }}</a>
                        </td>
                        <!-- Change recipe  -->
                        <td>
                            <a href="{{ url_for('edit_recipe', recipe_id= recipe._id) }}"
                                class="btn green darken-3 text-center"><i class="fas fa-edit"></i> Change</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <!-- </div> -->
            <!-- Category and Recipe Maintenance -->
            <div class="row">
                <div class="col s12 new-recipe">
                    <div class="row">
                        <!-- Add a Recipe -->
                        <a class="maint-btn btn yellow-text text-lighten-5 pink darken-4"
                            href="{{ url_for('add_recipe') }}">
                            <i class="fas fa-upload"></i> Add A New Recipe</a>
                    </div>
                    <div class="row">
                        <!-- Mantain Categories -->
                        <a class="maint-btn btn yellow-text text-lighten-5 pink darken-4"
                            href="{{ url_for('get_categories') }}">
                            <i class="fas fa-upload"></i> Maintain Categories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- </main> -->

<!-- Copied this idea from the Double Shamrocks-->
{% include "includes/delete_account.html" %}
{% include "includes/upload_profile_image.html" %}

{% endblock %}