{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}

<h1 class="brown-text text-darken-3">Recipes</h1>

{% for recipe in recipes %}
<div class="row">
    <div class="col s12 m7 l4">
        <div class="card ">
            <a class="brown-text text-darken-3" href="#">
                <div class="card-image">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <span class="card-title card-name">{{ recipe.title }}</span>
                </div>
                <div class="card-content">
                    <h5>{{recipe.category }}</h5>
                    <p>Duration {{ recipe.prep_time + recipe.cook_time }} mins</p>
                    <div class="col-4">
                        <a class="brown-text text-darken-3" href="{{ url_for('like', recipe_id=recipe._id) }}">
                            <i class="rating fas fa-thumbs-up"></i>
                            <span class="score">{{ recipe.likes }}</span></a>
                        <a class="brown-text text-darken-3" href="{{ url_for('dislike', recipe_id=recipe._id) }}">
                            <i class="rating fas fa-thumbs-down"></i>
                            <span class="score">{{ recipe.dislikes }}</span></a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}