{% extends "base.html" %}
{% block title %}Weights & Measures{% endblock %}
{% block content %}

<main class="weight_measure_tables parallax-container">
    <div class="parallax "><img src="{{ url_for('static', filename='images/scales.jpeg') }}"></div>
    <div class="container">
        <h3>Temperature Conversion</h3>

        <!-- Oven Temperature Conversion Table -->
        <div class="row">
            <div class="col s12">
                <div class="row card-panel recipe-panel maintain-recipe">
                    <div class="row card-panel">
                        <h5 class="card-title">Oven Temperature Conversion</h5>
                        <div class="col s8 m4">
                            <label class="temperature">Recipe Oven</label>
                            <select class="browser-default">
                                <option value="recipe-temp" disabled selected>Choose your option</option>
                                <option value="1">Gas</option>
                                <option value="2">Celsius</option>
                                <option value="3">Fahrenheit</option>
                            </select>
                        </div>
                        <div class="col s4 m2">
                            <label class="temperature">Oven Temp</label>
                            <select class="browser-default">
                                <option value="oven-temp" disabled selected>Choose your option</option>
                                {% for temperature in temperatures %}
                                <a class="brown-text text-darken-3"
                                    href="{{ url_for('get_temperature', temperatures=temperatures) }}"></a>
                                <option value="1">gas</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col s8 m4">
                            <label class="temperature">Your Oven</label>
                            <select class="browser-default">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Gas</option>
                                <option value="2">Celsius</option>
                                <option value="3">Fahrenheit</option>
                            </select>
                        </div>
                        <div class="col s4 m2">
                            <p class="new-oven-temp">to oven</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

{% endblock %}