{% extends "base.html" %}
{% block content %}
<main class="parallax-container">
    <div class="parallax "><img src="../static/images/scales.jpeg"></div>
    <div class="container">
        <h3>Please Add Recipe {{ username }}</h3>

        <div class="row card-panel">
            <form class="col s12" method="POST"
                action="{{ url_for('edit_recipe', recipe=recipe, recipe_id=recipe._id) }}">
                <div class="row">
                    <div class="col s6">

                        <div class="row">
                            <!-- Title -->
                            <div class="input-field col s12">
                                <input id="title" name="title" minlength="3" maxlength="25" type="text" value="{{ title }}" class="validate"
                                    required>
                                <label for="title">Title</label>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Category -->
                            <div class="input-field col s12">
                                 <input id="category" name="category" minlength="3" maxlength="25" type="text" value="{{ category }}" class="validate"
                                    required>
                                <label for="category">Category</label>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Servings -->
                            <div class="input-field col s6">
                                <input id="servings" name="servings" minlength="0" maxlength="5" value="{{ Servings }}" type="text"
                                    class="validate" required>
                                <label for="servings">Servings</label>
                            </div>
                        </div> 

                        <div class="row">
                            <!-- Cooking Temperature -->
                            <div class="input-field col s6">
                                <input id="temperature" name="temperature" minlength="1" maxlength="3" value="{{ temperature }}" type="text"
                                    class="validate" required>
                                <label for="temperature">Temperature</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="temp_unit" name="temp_unit" minlength="1" maxlength="3" value="{{ temp_unit }}" type="text"
                                    class="validate" required>
                                <label for="temp_unit">Unit</label>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Preparation Time -->
                            <div class="input-field col s5">
                                <input id="prep_time" name="prep_time" minlength="0" maxlength="5" value="{{ prep_time }}" type="text" class="validate" required>
                                <label for="prep_time">Preparation_time</label>
                            </div>
                            <div class="input-field col s1">
                                <p>mins</p>
                            </div>
                        </div> 

                        <div class="row">
                            <!-- Cooking Time -->
                            <div class="input-field col s5">
                                <input id="cook_time" name="cook_time" minlength="0" maxlength="5" value="{{ cook_time }}" type="text" class="validate" required>
                                <label for="cook_time">Cooking_time</label>
                            </div>
                            <div class="input-field col s1">
                                <p>mins</p>
                            </div>
                        </div>

                    </div>

                    <!-- Image -->
                    <div class="col s6">
                        <div class="card-panel image-panel grey lighten-5 z-depth-1 center-align">
                            <img src="{{ url_for('static', filename='images/profile_image.jpg') }}" alt="Recipe Image"
                                class="circle responsive-img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Ingredients -->
                    <div class="input-field col s12">
                        <input id="ingredients" name="ingredients" minlength="5" value="{{ ingredients }}" type="text" class="validate" required>
                        <label for="ingredients">Ingredients</label>
                    </div>

                    <!-- Method -->
                    <div class="input-field col s12">
                        <input id="method" name="method" minlength="5" value="{{ method }}" type="text" class="validate" required>
                        <label for="method">Method</label>
                    </div>

                    <!-- Notes -->
                    <div class="input-field col s12">
                        <input id="notes" name="notes" minlength="5" value="{{ note }}" type="text" class="validate" required>
                        <label for="notes">Notes</label>
                    </div>
                </div>

                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('profile', username=username) }}" class="btn teal lighten-4" > Cancel <i class="fas fa-times-circle right"></i></a>
                        <a href="{{ url_for('edit_recipe', recipe=recipe, recipe_id=recipe._id) }}" class="btn amber accent-2">Change Recipe</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red darken-1">Delete Recipe</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}