{% extends "base.html" %}
{% block content %}

    <main class="parallax-container home">
        <div class="parallax "><img src="{{ url_for('static', filename='images/background.jpeg') }}"></div>
        <div class="container">
            <h3>Update Category</h3>
            <!-- Code taken from Code Institute Flask Task Manager 
                Project and altered to fit this website -->
            <div class="row card-panel grey lighten-5">
                <form class="col s8 offset-s2" method="POST" 
                    action="{{ url_for('edit_category', category_id=category._id) }}">
                    <!-- Category Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-folder-open prefix pink-text text-darken-4"></i>
                            <input id="category" name="category" minlength="3" maxlength="25" type="text"
                                value="{{ category.category }}" class="validate" required>
                            <label for="category">Category Name</label>
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <!-- Cancel -->
                            <a href="{{ url_for('get_categories') }}" class="btn teal lighten-4"> Cancel <i
                                    class="fas fa-times-circle left"></i></a>
                            <!-- Edit -->
                            <button type="submit" class="btn  pink darken-4">
                                Edit Category <i class="fas fa-edit left"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}