{% extends "base.html" %}
{% block title %}Weights & Measures{% endblock %}
{% block content %}

<main class="weight_measure_tables parallax-container">
    <div class="parallax "><img src="../static/images/weight_measure.jpeg"></div>
    <div class="container">
        <h1 class="brown-text text-darken-3 center-align">Weights and Measure Conversion Charts</h1>
        <div class="row">
            <div class="col l6 s12">
                <div class="card weight_measure_card">
                    <table class="striped responsive-table centered ">
                        <thead>
                            <h6 class="center-align">Weights and Measures</h6>

                            <tr>
                                <th>Metric</th>
                                <th>Imperial</th>
                                <th>Cups</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for measure in measures %}
                            <tr>
                                <td>{{ measure.metric }}{{ measure.metric_unit }}</td>
                                <td>{{ measure.imperial }}{{ measure.imperial_unit }}</td>
                                <td>{{ measure.american }}{{ measure.american_unit }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col l6 s12">
                <div class="card weight_measure_card">
                    <table class="striped responsive-table centered w_m_table">
                        <thead>
                            <h6 class="center-align">Temparature</h6>
                            <tr>
                                <th>Gas</th>
                                <th>Celsius</th>
                                <th>Fahrenheit</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for temperature in temperatures %}
                            <tr>
                                <td>{{ temperature.gas }}</td>
                                <td>{{ temperature.celsius }}</td>
                                <td>{{ temperature.fahrenheit }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}