{% extends "base.html" %}
{% block title %}Weights & Measures{% endblock %}
{% block content %}

    <main class="weight_measure_tables parallax-container">
        <div class="parallax "><img src="{{ url_for('static', filename='images/scales.jpeg') }}"></div>
        <div class="container">
            <h3>Weights and Measure Conversion Charts</h3>
            <div class="row">
                <div class="col l6 s12">
                    <!-- Weights and Measures Conversion Table -->
                    <div class="card weight_measure_card">
                        <table class="striped responsive-table centered ">
                            <thead>
                                <h5 class="center-align">Weights and Measures</h5>
                                <tr>
                                    <th>Metric</th>
                                    <th>Imperial</th>
                                    <th>Cups</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for measure in measures %}
                                    <tr>
                                        <td>{{ measure.metric }}{{ measure.metric_unit }}</td>
                                        <td>{{ measure.imperial }}{{ measure.imperial_unit }}</td>
                                        <td>{{ measure.american }}{{ measure.american_unit }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col l6 s12">
                    <!-- Oven Temperature Conversion Table -->
                    <div class="card weight_measure_card">
                        <table class="striped responsive-table centered w_m_table">
                            <thead>
                                <h5 class="center-align">Temparature</h5>
                                <tr>
                                    <th>Gas</th>
                                    <th>Celsius</th>
                                    <th>Fahrenheit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for temperature in temperatures %}
                                    <tr>
                                        <td>{{ temperature.gas }}</td>
                                        <td>{{ temperature.celsius }}</td>
                                        <td>{{ temperature.fahrenheit }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}